body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}

/*Login page */
.loginbg{
	background:url(http://cdn1.data-service.cloud/site/9b994e58-bb6c-4385-8433-ec2f1bb6e317/uploadimage/1b6f223b-3ffa-4cd7-8e6b-0135abdf5443.jpeg) no-repeat center;
	height: 100vh;
	/* background:rgba(40,57,101,.9); */
}
.loginbg > .container
{
height: 100vh;
	background:rgba(40,57,101,.9);
}
.logo{
	height:200px;
	padding:50px;
}
button{
	font-weight: bolder;
}
button.line{
	background: #00c300 !important;
	color:white;
}
button.line:hover{
	background: rgba(0, 195, 0,0.9) !important;
	color:white;
}

/*Home page*/
.home{
	padding-top:50px;
}

/*Class page*/
#main{
	margin-top: 10%;
}
#qr-canvas{
	display: none;
}
#v{
	width: 100%;
	height: 50%;
}
#outdiv{
	margin-bottom: 5%;
}